{{- if .Inner -}}
  {{- if .Get "display" -}}
  <div class="book-katex">{{ printf "\\[ %s \\]" .Inner }}</div>
  {{- else -}}
  <span class="book-katex">{{ printf "\\( %s \\)" .Inner }}</span>
  {{- end -}}
{{- end -}}
{{- if not (.Page.Store.Get "katex") -}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" />
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body, {delimiters:[{left:'$$',right:'$$',display:true},{left:'$',right:'$',display:false},{left:'\\\\[',right:'\\\\]',display:true},{left:'\\\\(',right:'\\\\)',display:false}]});">
  </script>
  {{- .Page.Store.Set "katex" true -}}
{{- end -}}
